@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
 
} */

.background{
    background-image: linear-gradient(rgba(60, 60, 60, 0.8), rgba(80, 80, 80,0.5)), url('./assets/img-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}